.calendar-month td, th {
	border-left: 1px solid #999;
	border-bottom: 1px solid #999;
	width: 300px;
	height: 42px;
	padding: 0px 0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
}

.calendar-month table {
	border-right: 1px solid #999;
	border-top: 1px solid #999;
}

.calendar-month th {
	background: #666;
	color: #fff;
}

.calendar-other {
	background: #eee;
	font-weight: normal !important;
}

.calendar-today { 
	background: #ffc;
}

.calendar-select { 
	background: #369;
}
	